__history/uFrmInserirGasto.pas.~1~
__history/uGasto.pas.~1~
__history/uGasto.pas.~2~
Android/Debug/ControleGastos.o
Android/Debug/DataModule.dcu
Android/Debug/DataModule.o
Android/Debug/libControleGastos.so
Android/Debug/uControleGasto.dcu
Android/Debug/uFrmInserirGasto.dcu
Android/Debug/ControleGastos/library/lib/armeabi-v7a/libControleGastos.so
Android/Debug/ControleGastos/debug/libControleGastos.so
Android/Debug/ControleGastos/bin/ControleGastos.apk
Android/Debug/uGasto.o
Android/Debug/uGasto.dcu
Android/Debug/uFrmPrincipal.dcu
Android/Debug/uFrmListaGenerica.dcu
Android/Debug/uFrmListaGastos.dcu
Android/Debug/uFrmInserirGasto.dcu
__history/uFrmPrincipal.fmx.~1~
__history/DataModule.pas.~5~
__history/DataModule.pas.~4~
__history/DataModule.pas.~3~
__history/DataModule.pas.~2~
__history/DataModule.pas.~1~
__history/DataModule.dfm.~5~
__history/DataModule.dfm.~4~
__history/DataModule.dfm.~3~
__history/DataModule.dfm.~2~
__history/DataModule.dfm.~1~
Android/Debug/ControleGastos.o
Android/Debug/DataModule.dcu
Android/Debug/DataModule.o
Android/Debug/libControleGastos.so
Android/Debug/uControleGasto.dcu
Android/Debug/uFrmInserirGasto.dcu
Android/Debug/uFrmInserirGasto.o
Android/Debug/uFrmListaGastos.dcu
Android/Debug/uFrmListaGenerica.dcu
Android/Debug/uFrmPrincipal.dcu
Android/Debug/uGasto.dcu
Android/Debug/uGasto.o
Android/Debug/ControleGastos/bin/ControleGastos.apk
Android/Debug/ControleGastos/debug/libControleGastos.so
Android/Debug/ControleGastos/library/lib/armeabi-v7a/libControleGastos.so
ControleGastos.deployproj
__history/uFrmPrincipal.fmx.~2~
__history/uFrmPrincipal.pas.~1~
__history/uFrmPrincipal.pas.~2~
Android/Debug/ControleGastos.o
Android/Debug/DataModule.dcu
Android/Debug/DataModule.o
Android/Debug/libControleGastos.so
Android/Debug/uControleGasto.dcu
Android/Debug/uFrmInserirGasto.dcu
Android/Debug/uFrmInserirGasto.o
Android/Debug/uFrmListaGastos.dcu
Android/Debug/uFrmListaGenerica.dcu
Android/Debug/uFrmPrincipal.dcu
Android/Debug/uGasto.dcu
Android/Debug/uGasto.o
Android/Debug/ControleGastos/bin/ControleGastos.apk
Android/Debug/ControleGastos/debug/libControleGastos.so
Android/Debug/ControleGastos/library/lib/armeabi-v7a/libControleGastos.so
Android/Debug/uGasto.o
